/* GENERICS */
.container {
    height: 100vh;
}

.col-10 {
    height: 50vh;
    padding: 0;
}

.item {
    height: 50vh;
    position: relative;
    display: none;
}

.item.active {
    display: block;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item .item-text {
    position: absolute;
    bottom: 10px;
    right: 20px;

}

.col-2 {
    height: 50vh;
}

.col-2 .row .col {
    height: calc(50vh / 5);
    flex-basis: auto;
    padding: 0;
    position: relative;
}

/* SLIDER ARROW */
#arrow_prev,
#arrow_next {
    width: 30px;
    height: 30px;
    position: absolute;
    font-size: 20px;
    right: 45%;
    cursor: pointer;
    background-color: #999;
    color: #444;
    border-radius: 50%;
    text-align: center;
}

#arrow_prev {
    top: 5%;
}

#arrow_next {
    bottom: 5%;
}